@font-face {
    font-family: "NunitoSansExtraBold";
    src: url("../fonts/NunitoSans_10pt-ExtraBold.ttf");
    font-weight: 900;
}
@font-face {
    font-family: "NunitoSansSemiBold";
    src: url("../fonts/NunitoSans_10pt-SemiBold.ttf");
    font-weight: 600;
}
@font-face {
    font-family: "NunitoSansRegular";
    src: url("../fonts/NunitoSans_10pt-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "NunitoSansLight";
    src: url("../fonts/NunitoSans_10pt-Light.ttf");
    font-weight: 300;
}