@import url(./fonts.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    max-width: 1280px;
    width: 100%;
    margin: auto;
}
.site-header{
    display: flex;
    justify-content: space-between;
    height: 80px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
    align-items: center;
}
.site-header_title{
    color: #111517;
    font-family: "NunitoSansExtraBold";
    font-size: 24px;
    font-weight: 800;
}
.switchmode-text{
    color: #111517;
    font-family: "NunitoSansSemiBold";
    font-size: 16px;
    font-weight: 600;
}
.site-header_switchmode{
    display: flex;
    column-gap: 8px;
}
.site-header_switchmode:hover{
    cursor: pointer;
}
.main-search{
    display: flex;
    align-items: center;
    max-width: 480px;
    width: 100%;
    height: 56px;
    column-gap: 24px;
    border: 1px solid transparent;
    justify-content: center;
}
.upper-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
    margin-bottom: 48px;
}
.search-icon{
    margin-top: 4px;
}
.search_btn{
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
    color: #Black;
    font-family: "NunitoSansRegular";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;    
}
.main-selection{
    display: flex;
    column-gap: 50px;
    width: 200px;
    height: 56px;
    text-align: center;
    color: #111517;
    font-family: "NunitoSansRegular";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
}
.main-cards{
    display: flex;
    flex-wrap: wrap;
    column-gap: 74px;
    row-gap: 72px;
}
.main-cards_item{
    width: calc(100%/8*1.6532);
    height: 336px;
}
.item-img{
    width: 100%;
}
.item-title{
    color: #111517;
    font-family: "NunitoSansExtraBold";
    font-size: 18px;
    font-weight: 800;
    line-height: 26px;
    margin-top: 24px;
    margin-bottom: 8px;
}
.card-descrip{
    color: #111517;
    font-family: "NunitoSansLight";
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
}
.descrip-span{
    color: #111517;
    font-family: "NunitoSansSemiBold";
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
}
.card_content{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    margin-left: 24px;
}