@media (max-width:1440px){

}
@media (max-width:1320px){
    .container{
        width: 85%;
    }
    .main-cards_item{
        width: calc(100%/8*1.59);
    }
    
}
@media (max-width:1290px){
    
}
@media (min-width:1170px) and (max-width:1274px){
    .container{
        width: 85%;
    }
    .main-cards_item{
        width: calc(100%/8*1.55);
    }
    
}
@media (max-width:1024px){
    .container{
        width: 85%;
    }
    .main-cards_item{
        width: calc(100%/8*1.48);
    }
    .card-descrip{
        font-size: 10px;
    }
    
}
@media (min-width:992px) and (max-width:1004px){
    .container{
        width: 85%;
    }
    .main-cards_item{
        width: calc(100%/8*1.46);
    }
    .descrip-span{
        font-size: 13px;
    }
}
@media (min-width:850px) and (max-width:992px){
    
    .main-cards_item{
        width: calc(100%/8*1.36);
    }
    .item-title{
        font-size: 13px;
        margin-top: 10px;
        margin-bottom: 0px;
    }
    .site-header_title{
        font-size: 15px;
    }
    .descrip-span{
        font-size: 10px;
    }
    .card_content{
        margin-left: 12px;
    }
}
@media (max-width:768px){
    
    .main-selection{
        font-size: 20px;
        margin-left: 30px;
    }
    .search-icon{
        width: 25px;
        height: 25px;
    }
    .main-search{
        max-width: 700px;
        height: 70px;

    }
    .search_btn{
        font-size: 25px;
        opacity: 0.5;
    }
    .upper-main{
        row-gap: 40px;
        flex-direction: column;
        align-items: flex-start;
    }
    .container{
        width: 93%;
    }
    .main-cards{
        row-gap: 150px;
    }
    .main-cards_item{
        width: calc(100%/8*6.5);
        margin: auto;
        height: 550px;
    }
    .item-title{
        font-size: 38px;
        margin-top: 35px;
    }
    .site-header_title{
        font-size: 25px;
    }
    .card-descrip{
        font-size: 25px;
    }
    .descrip-span{
        font-size: 25px;
    }
    .card_content{
        margin-left: 42px;
        row-gap: 30px;
    }
    .switchmode-text{
        font-size: 20px;
    }
}
@media (max-width:736px){
    
}
@media (max-width:680px){
    .item-title{
        font-size: 35px;
        margin-top: 35px;
    }
}
@media (max-width:576px){
    .item-title{
        font-size: 30px;
        margin-top: 35px;
    }
    .card-descrip{
        font-size: 23px;
    }
    .descrip-span{
        font-size: 23px;
    }
}
@media (max-width:480px){
    .item-title{
        font-size: 25px;
        margin-top: 27px;
    }
    .card-descrip{
        font-size: 20px;
    }
    .descrip-span{
        font-size: 20px;
    }
    .card_content{
        margin-left: 35px;
        row-gap: 20px;
    }
    .main-cards{
        row-gap: 70px;
    }
    .main-cards_item{
        height: 420px;
    }
    .site-header_title{
        font-size: 20px;
    }
    .switchmode-text{
        font-size: 16px;
    }
    .container{
        width: 90%;
    }
    .search_btn{
        font-size: 17px;
        opacity: 0.5;
    }
    .upper-main{
        row-gap: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (max-width:320px){
    .item-title{
        font-size: 15px;
        margin-top: 10px;
    }
    .container{
        width: 85%;
    }
    .switchmode-text{
        font-size: 10px;
    }
    .site-header_switchmode{
        width: 100px;
    }
    .site-header_title{
        font-size: 10px;
    }
    .search_btn{
        font-size: 10px;
        opacity: 0.5;
    }
    .svg-header{
        width: 15px;
        height: 15px;
    }
    .search-icon{
        width: 16px;
        height: 16px;
    }
    .main-selection{
        font-size: 15px;
        margin-left: 0px;
    }
    .card-descrip{
        font-size: 12px;
    }
    .descrip-span{
        font-size: 12px;
    }
    .card_content{
        margin-left: 23px;
        row-gap: 5px;
    }
    .main-cards_item{
        height: 300px;
    }
    .main-cards{
        row-gap: 20px;
    }
}